body {
  font-family: "Open Sans", serif;
  padding-top: 54px;
  color: #666;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #e06d06;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #e06d06;
}

#sideNav .navbar-nav .nav-item .nav-link {
  color: #495057;
  font-weight: 600;
  text-transform: uppercase;
}

#sideNav .navbar-nav .nav-item .nav-link.active {
  color: #212529;
  font-weight: bold;
}

/* Project Section - Styles  */
.projects-image-section {
  display: flex;
  margin-bottom: 50px;
  flex-direction: row;
}

.projects-image-section .image-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px 20px 0;
  border: 1px solid #ccc;
  display: flex;
}

.projects-image-section .image-container a {
  position: relative;
}

.text-container {
  display: none;
  color: #fff;
  width: 100%;
  margin: 0 auto;
}

.text-container h5 {
  color: #fff;
  margin-bottom: 15px;
}

.text-container p {
  font-size: 14px;
  line-height: 20px;
}

.text-container a {
  color: #fff;
  text-decoration: underline;
}

.text-container a:hover {
  color: #fff;
  text-decoration: none;
}

.projects-image-section .image-container a img {
  max-width: 100%;
  height: auto;
}

.projects-image-section .image-container a span {
  font-size: 13px;
  padding: 5px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  bottom: 0;
  width: 100%;
  position: absolute;
  text-align: center;
}

.mfp-figure:after {
  background: transparent !important;
  box-shadow: none !important;
  border: 0;
}

.download-item {
  margin-top: 20px;
}

.download-button {
  background: #343a40;
  color: #fff !important;
}

.download-button:hover {
  background: transparent;
  color: #343a40 !important;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

.resume-email,
.g-addr-link {
  color: #e06d06;
}

.resume-email:hover,
.g-addr-link:hover {
  color: #868e96;
  text-decoration: none;
}

#certifications ul.fa-ul li i {
  line-height: 21px;
}

.skills-list li {
  cursor: pointer;
}

.cert-list .sub-title {
  font-size: 1rem;
  font-weight: 600;
}

.cert-list .sub-acad {
  font-size: 0.75rem;
}

.b-points {
  margin-left: 0;
}

@media (min-width: 360px) {
  .d-mobile-color {
    color: #343a40;
  }
  h1.mb-0 {
    text-align: center;
    margin-bottom: 20px !important;
  }
}

@media (min-width: 768px) {
  h1.mb-0 {
    text-align: left;
    margin-bottom: 0 !important;
  }
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #ffb61c !important;
}

.text-primary {
  color: #ffb61c !important;
}

.year-caption-text {
  color: #343a40;
  font-weight: bold;
}

a {
  color: #e06d06;
}

a:hover,
a:focus,
a:active {
  color: #cf8c00;
}
